:root,
html,
body{
    background-color: #707070;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0%;

    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
    font-family: 'Lato',sans-serif;
    font-size: 12px;
}